<div class="auth__container container-fluid pt-5">
  <div class="row px-2">
    <div class="col-md-3 shadow mt-5 mx-auto bg-white rounded-3 px-md-4 px-2 py-5">
      <h4 class="text-center mb-3">Member Login</h4>
      <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()" class="" #myform="ngForm">
        <div class="text-danger" *ngIf="!LoginForm.valid">
          {{LoginForm.errors?.[0]}}
        </div>
        <!-- Email Input -->
        <div class="input-group mt-3">
          <div class="input-group-text">
            <i class="bi bi-envelope-fill"></i>
          </div>
          <input type="email" placeholder="Email" class="form-control py-2" formControlName="Email" required />
        </div>
        <!-- Validations -->
        <li *ngIf="myform['submitted'] && LoginForm.controls.Email.errors?.['required']" class="text-danger mb-0">
          Email Is Required
        </li>
        <li *ngIf="myform['submitted'] && LoginForm.controls.Email.errors?.['email']" class="text-danger mb-0">
          Not Valid Email Format
        </li>
        <!-- End Of Validations -->

        <!-- End Email Input -->

        <!-- Password Input -->
        <div class="input-group mt-3">
          <div class="input-group-text">
            <i *ngIf="!showPassword" (click)="togglePassword()" class="bi bi-eye-fill btn btn-sm p-0"></i>
            <i *ngIf="showPassword" (click)="togglePassword()" class="bi bi-eye-slash-fill btn btn-sm p-0"></i>
          </div>
          <input [type]="showPassword ? 'text' : 'password'" type="password" placeholder="Password"
            formControlName="Password" required class="form-control py-2" />
        </div>

        <!-- Validations -->
        <li *ngIf="myform['submitted'] && LoginForm.controls.Password.errors?.['required']" class="text-danger mb-0">
          Password Is Required
        </li>
        <!-- End Of Validations -->

        <!-- End Password Input -->

        <!-- Remember Me -->
        <div class="form-check my-3 ms-2">
          <input type="checkbox" class="form-check-input" formControlName="RememberMe" />
          <label for="RememberMe" class="form-check-label">Remember Me</label>
        </div>
        <!-- End of Remember Me -->

        <!-- submit -->
        <input type="submit" class="auth__btn btn w-100" id="loginBtn" value="LOGIN" />

        <!-- End Of Submit -->

        <p class="text-center mt-3">
          Not a member?
          <a routerLink="/signup" routerLinkActive="activebutton" ariaCurrentWhenActive="page"
            [routerLinkActiveOptions]="{ exact: true }" class="text-decoration-none">
            Sign Up
          </a>
        </p>
      </form>
    </div>
  </div>
</div>