<div class="auth__container container-fluid pt-5">
  <div class="row px-2">
    <div class="col-md-3 shadow mt-5 mx-auto bg-white rounded-3 px-md-4 px-2 py-5">
      <h4 class="text-center mb-3">Member Login</h4>
      <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()" class="" #myform="ngForm">
        <div class="text-danger" *ngIf="!LoginForm.valid">
          {{LoginForm.errors?.[0]}}
        </div>
        <!-- Email Input -->
        <div class="input-group mt-3">

          <div class="input-group-text">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-envelope-fill" viewBox="0 0 16 16">
              <path
                d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z" />
            </svg>
          </div>

          <input type="email" placeholder="Email" class="form-control py-2" formControlName="Email" required />
        </div>
        <!-- Validations -->
        <li *ngIf="myform['submitted'] && LoginForm.controls.Email.errors?.['required']" class="text-danger mb-0">
          Email Is Required
        </li>
        <li *ngIf="myform['submitted'] && LoginForm.controls.Email.errors?.['email']" class="text-danger mb-0">
          Not Valid Email Format
        </li>
        <!-- End Of Validations -->

        <!-- End Email Input -->

        <!-- Password Input -->
        <div class="input-group mt-3">
          <div class="input-group-text">

            <svg *ngIf="!showPassword" (click)="togglePassword()" xmlns="http://www.w3.org/2000/svg" width="16"
              height="16" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
              <path
                d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z" />
              <path
                d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z" />
            </svg>

            <svg *ngIf="showPassword" (click)="togglePassword()" xmlns="http://www.w3.org/2000/svg" width="16"
              height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
              <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
            </svg>

          </div>
          <input [type]="showPassword ? 'text' : 'password'" type="password" placeholder="Password"
            formControlName="Password" required class="form-control py-2" />
        </div>

        <!-- Validations -->
        <li *ngIf="myform['submitted'] && LoginForm.controls.Password.errors?.['required']" class="text-danger mb-0">
          Password Is Required
        </li>
        <!-- End Of Validations -->

        <!-- End Password Input -->

        <!-- Remember Me -->
        <div class="form-check my-3 ms-2">
          <input type="checkbox" class="form-check-input" formControlName="RememberMe" />
          <label for="RememberMe" class="form-check-label">Remember Me</label>
        </div>
        <!-- End of Remember Me -->

        <!-- submit -->
        <input type="submit" class="auth__btn btn w-100" [disabled]="loginBtnState" [value]="loginBtnValue" />

        <!-- End Of Submit -->

        <p class="text-center mt-3">
          Not a member?
          <a routerLink="/signup" routerLinkActive="activebutton" ariaCurrentWhenActive="page"
            [routerLinkActiveOptions]="{ exact: true }" class="text-decoration-none">
            Sign Up
          </a>
        </p>
      </form>
    </div>
  </div>
</div>