<div class="container-fluid px-0">
	<div class="row m-0">
		<div class="col-md-6">
			<form [formGroup]="updateProjectForm" #form="ngForm" (ngSubmit)="submit()">


				<!-- Id Input -->
				<div class="form-floating">
					<input type="text" disabled value="{{Id}}" class="form-control bg-primary text-light">
					<label class="form-label text-light">
						Project Id
					</label>
				</div>
				<!-- end of Id -->


				<!-- form validation -->
				<div class="text-danger" *ngIf="updateProjectForm.invalid">
					{{updateProjectForm.errors?.[0]}}
				</div>


				<!-- Name Input -->
				<div class="form-floating mt-3">
					<input type="text" required formControlName="Name" value="{{Name}}" class="form-control">
					<label for="Name" class="form-label">
						Name
					</label>
				</div>
				<!-- end of Name Input -->

				<!-- validation -->
				<li class="text-danger" *ngIf="form['submitted'] && updateProjectForm.controls['Name'].errors?.['required']">
					Project name is required
				</li>
				<!-- end of validation -->



				<!-- start date input -->
				<div class="form-floating mt-3">
					<input type="date" required formControlName="StartDate" value="{{StartDate}}" class="form-control">
					<label for="StartDate" class="form-label">Start Date</label>
				</div>
				<!-- end of start date -->

				<!-- validation -->
				<li class="text-danger"
					*ngIf="form['submitted'] && updateProjectForm.controls['StartDate'].errors?.['required']">
					Start date is required
				</li>
				<!-- end of validation -->


				<!-- target date input -->
				<div class="form-floating mt-3">
					<input type="date" required formControlName="TargetEndDate" value="{{TargetEndDate}}" class="form-control">
					<label for="TargetEndDate" class="form-label">Target End Date</label>
				</div>
				<!-- end of start date -->

				<!-- validation -->
				<li class="text-danger"
					*ngIf="form['submitted'] && updateProjectForm.controls['TargetEndDate'].errors?.['required']">
					Target end date is required
				</li>
				<!-- end of validation -->


				<!-- target date input -->
				<div class="form-floating mt-3">
					<input type="date" formControlName="ActualEndDate" value="{{ActualEndDate}}" class="form-control">
					<label for="ActualEndDate" class="form-label">Actaul End Date</label>
				</div>
				<!-- end of start date -->


				<div class="mt-3 text-end">
					<button type="button" (click)="location.back()" class="btn me-3">Cancel</button>
					<input type="submit" class="btn btn-primary" [value]="btnValue" [disabled]="btnState">
				</div>



			</form>
		</div>
	</div>
</div>