<th scope="row" class="text-center">
	<img src="{{baseImageUrl}}{{user.image}}" width="40" height="40" class="rounded-3" alt="">
</th>
<td>
	{{user.firstName}} {{user.lastName}}
</td>
<td>{{user.email}}</td>
<td>
	<li *ngFor="let role of user.roles">
		{{role}}
	</li>
</td>
<td class="text-center">
	<div class="btn-group">

		<!-- user detail -->
		<a title="user detail" class="btn btn-sm btn-primary pb-2">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right"
				viewBox="0 0 16 16">
				<path fill-rule="evenodd"
					d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
				<path fill-rule="evenodd"
					d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
			</svg>
		</a>
		<!-- end of user detail -->

		<!-- delete user btn -->
		<button title="delete user" (click)="showConfirmDelete()" class="btn btn-sm btn-primary pb-2">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
				viewBox="0 0 16 16">
				<path
					d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
				<path fill-rule="evenodd"
					d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
			</svg>
		</button>
		<!-- end of delete -->

	</div>
</td>


<div class="modal confirm-delete d-block" *ngIf="isModalOpen">
	<div class="modal-dialog">
		<div class="modal-content p-3">
			<div class="modal-header flex-column border-0">

				<div class="mb-4 text-danger p-2 border border-2 border-danger rounded-circle">
					<svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-x"
						viewBox="0 0 16 16">
						<path
							d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
					</svg>
				</div>

				<h3 class="modal-title text-muted fw-normal">Are you sure?</h3>

			</div>
			<div class="modal-body text-center">
				Do you really want to delete
				<span class="fw-bolder">
					{{user.firstName}}
				</span>
				user? This process cannot be undone.
			</div>
			<div class="modal-footer justify-content-center gap-3 btn-group">
				<button type="button" class="btn btn-secondary" (click)="hideConfirmDelete()">Close</button>
				<input type="button" (click)="DeleteUser()" [value]="deleteBtnValue" [disabled]="deleteBtnState"
					class="btn btn-danger" />
			</div>
		</div>
	</div>
</div>