.navbar {
	color: #043C77;
	height: 3.5rem;
	/* padding-inline: 2rem; */
	z-index: 10;
}

.navbar a {
	/* color: #9053c7; */
	text-decoration: none;
}

.navbar button {
	/* color: #9053c7; */
	color: #043C77;
}

.navbar__brand__header {
	font-weight: 700;
	font-size: 1.5rem;
	color: #0C056D;
	/* font-style: italic; */
	font-family: cursive;
}