<nav class="navbar position-sticky top-0 bg-white border-bottom border-2 px-4">

	<!-- Navbar Header -->
	<div class="d-flex align-items-center gap-4">
		<button class="btn p-0" (click)="toggleSidebar()">
			<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
				class="bi bi-list navbar__list-icon" viewBox="0 0 16 16">
				<path fill-rule="evenodd"
					d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
			</svg>
		</button>



	</div>


	<div class="">
		<a class="navbar__brand__header mb-0">
			Issue Tracker
		</a>
	</div>
	<div class="d-flex align-items-center gap-4">

		<!-- toggle full screen -->
		<button class="btn p-0" (click)="toggleFullScreen()" title="full screen">
			<svg *ngIf="!fullScreenState" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
				class="bi bi-fullscreen" viewBox="0 0 16 16">
				<path
					d="M1.5 1a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0v-4A1.5 1.5 0 0 1 1.5 0h4a.5.5 0 0 1 0 1h-4zM10 .5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 16 1.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5zM.5 10a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 0 14.5v-4a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v4a1.5 1.5 0 0 1-1.5 1.5h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5z" />
			</svg>

			<svg *ngIf="fullScreenState" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
				class="bi bi-fullscreen-exit" viewBox="0 0 16 16">
				<path
					d="M5.5 0a.5.5 0 0 1 .5.5v4A1.5 1.5 0 0 1 4.5 6h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5zm5 0a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 10 4.5v-4a.5.5 0 0 1 .5-.5zM0 10.5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 6 11.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5zm10 1a1.5 1.5 0 0 1 1.5-1.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0v-4z" />
			</svg>
		</button>

		<!-- user image -->
		<div class="d-flex gap-4 align-items-center">
			<img [src]="userImage" class="image-fluid rounded-circle" width="35" height="35" alt="">
			<button (click)="logout()" class="btn p-0">logout</button>
		</div>
	</div>


</nav>